-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: posyandu_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `action_type` varchar(255) NOT NULL,
  `entity_type` varchar(255) DEFAULT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `description` text DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_user_id_action_index` (`user_id`,`action_type`),
  KEY `activity_logs_model_type_model_id_index` (`entity_type`,`entity_id`),
  KEY `activity_logs_created_at_index` (`created_at`),
  CONSTRAINT `activity_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=362 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `analytics_snapshots`
--

DROP TABLE IF EXISTS `analytics_snapshots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `analytics_snapshots` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned DEFAULT NULL,
  `key` varchar(255) NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`data`)),
  `last_computed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `analytics_snapshots_posyandu_id_key_index` (`posyandu_id`,`key`),
  CONSTRAINT `analytics_snapshots_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analytics_snapshots`
--

LOCK TABLES `analytics_snapshots` WRITE;
/*!40000 ALTER TABLE `analytics_snapshots` DISABLE KEYS */;
/*!40000 ALTER TABLE `analytics_snapshots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `articles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `category_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `content` text NOT NULL,
  `content_blocks` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`content_blocks`)),
  `thumbnail` text DEFAULT NULL,
  `slug` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `published_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `articles_slug_unique` (`slug`),
  KEY `articles_user_id_foreign` (`user_id`),
  KEY `articles_category_id_foreign` (`category_id`),
  CONSTRAINT `articles_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `articles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('posyandu_cache_0619bb853b3e782392dd7f13df74d69f7ab8f232','i:1;',1782798608),('posyandu_cache_0619bb853b3e782392dd7f13df74d69f7ab8f232:timer','i:1782798608;',1782798608),('posyandu_cache_5c785c036466adea360111aa28563bfd556b5fba','i:1;',1782813791),('posyandu_cache_5c785c036466adea360111aa28563bfd556b5fba:timer','i:1782813791;',1782813791),('posyandu_cache_7b52009b64fd0a2a49e6d8a939753077792b0554','i:1;',1782795261),('posyandu_cache_7b52009b64fd0a2a49e6d8a939753077792b0554:timer','i:1782795261;',1782795261);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Kesehatan Ibu','kesehatan-ibu','2026-06-30 04:30:03','2026-06-30 04:30:03'),(2,'Nutrisi & Gizi','nutrisi-gizi','2026-06-30 04:30:03','2026-06-30 04:30:03'),(3,'Tumbuh Kembang','tumbuh-kembang','2026-06-30 04:30:03','2026-06-30 04:30:03'),(4,'Info Layanan','info-layanan','2026-06-30 04:30:03','2026-06-30 04:30:03');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `child_developments`
--

DROP TABLE IF EXISTS `child_developments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `child_developments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `medical_record_id` bigint(20) unsigned NOT NULL,
  `age_group_months` int(11) NOT NULL COMMENT 'Bulan usia untuk target KPSP (misal: 3, 6, 9, 12, dst)',
  `motor_gross` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Motorik Kasar',
  `motor_fine` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Motorik Halus',
  `language` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Bahasa / Bicara',
  `social` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Sosialisasi / Kemandirian',
  `development_status` enum('Sesuai','Meragukan','Penyimpangan') DEFAULT NULL COMMENT 'Kesimpulan Perkembangan',
  `note` text DEFAULT NULL COMMENT 'Catatan tambahan perkembangan',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `child_developments_medical_record_id_foreign` (`medical_record_id`),
  CONSTRAINT `child_developments_medical_record_id_foreign` FOREIGN KEY (`medical_record_id`) REFERENCES `medical_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `child_developments`
--

LOCK TABLES `child_developments` WRITE;
/*!40000 ALTER TABLE `child_developments` DISABLE KEYS */;
/*!40000 ALTER TABLE `child_developments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galleries`
--

DROP TABLE IF EXISTS `galleries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `galleries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `gallery_folder_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `photo` text NOT NULL,
  `type` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `galleries_posyandu_id_foreign` (`posyandu_id`),
  KEY `galleries_user_id_foreign` (`user_id`),
  KEY `galleries_gallery_folder_id_foreign` (`gallery_folder_id`),
  CONSTRAINT `galleries_gallery_folder_id_foreign` FOREIGN KEY (`gallery_folder_id`) REFERENCES `gallery_folders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `galleries_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `galleries_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galleries`
--

LOCK TABLES `galleries` WRITE;
/*!40000 ALTER TABLE `galleries` DISABLE KEYS */;
INSERT INTO `galleries` VALUES (1,1,2,NULL,'Kegiatan Posyandu Januari','Foto-foto kegiatan posyandu bulan Januari','kegiatan-januari.jpg','activity','2026-06-30 04:30:03','2026-06-30 04:30:03'),(2,1,2,NULL,'Imunisasi Campak','Foto kegiatan imunisasi campak','imunisasi-campak.jpg','immunization','2026-06-30 04:30:03','2026-06-30 04:30:03'),(3,2,2,NULL,'Penyuluhan Gizi','Foto kegiatan penyuluhan gizi','penyuluhan-gizi.jpg','education','2026-06-30 04:30:03','2026-06-30 04:30:03');
/*!40000 ALTER TABLE `galleries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery_folders`
--

DROP TABLE IF EXISTS `gallery_folders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gallery_folders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `cover_photo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gallery_folders_posyandu_id_foreign` (`posyandu_id`),
  KEY `gallery_folders_user_id_foreign` (`user_id`),
  CONSTRAINT `gallery_folders_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gallery_folders_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery_folders`
--

LOCK TABLES `gallery_folders` WRITE;
/*!40000 ALTER TABLE `gallery_folders` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_folders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_records`
--

DROP TABLE IF EXISTS `medical_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `patient_id` bigint(20) unsigned NOT NULL,
  `pregnancy_number` int(11) DEFAULT NULL,
  `pregnancy_spacing` varchar(255) DEFAULT NULL,
  `starting_weight` decimal(5,2) DEFAULT NULL,
  `starting_height` decimal(5,2) DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `delivery_method` varchar(255) DEFAULT NULL,
  `gestational_age` varchar(255) DEFAULT NULL,
  `imt_plotting_status` varchar(255) DEFAULT NULL,
  `lila_plotting_status` varchar(255) DEFAULT NULL,
  `bp_plotting_status` varchar(255) DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `visit_date` date NOT NULL,
  `weight` decimal(5,2) NOT NULL,
  `imt` decimal(5,2) DEFAULT NULL,
  `weight_status` varchar(100) DEFAULT NULL,
  `kpsp_status` varchar(100) DEFAULT NULL,
  `tbc_screening_cough` tinyint(1) NOT NULL DEFAULT 0,
  `tbc_screening_fever` tinyint(1) NOT NULL DEFAULT 0,
  `tbc_screening_contact` tinyint(1) NOT NULL DEFAULT 0,
  `tbc_screening_weight_loss` tinyint(1) NOT NULL DEFAULT 0,
  `tbc_screening_lethargy` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Anak Lesu / Tidak Aktif',
  `tbc_screening_lumps` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Benjolan di Leher',
  `other_symptoms` text DEFAULT NULL,
  `pmt_given` varchar(255) DEFAULT NULL,
  `counseling_notes` text DEFAULT NULL,
  `education` text DEFAULT NULL,
  `referral_type` varchar(255) NOT NULL DEFAULT 'None',
  `nakes_gives_fe_mms` varchar(255) DEFAULT NULL,
  `consumes_fe_mms_regularly` varchar(255) DEFAULT NULL,
  `nakes_gives_mt_kek` varchar(255) DEFAULT NULL,
  `mt_package_details` varchar(255) DEFAULT NULL,
  `consumes_mt_kek_regularly` varchar(255) DEFAULT NULL,
  `counseling_topic` varchar(255) DEFAULT NULL,
  `joins_pregnant_class` varchar(255) DEFAULT NULL,
  `anc_referral` text DEFAULT NULL,
  `postpartum_period` varchar(255) DEFAULT NULL,
  `postpartum_imt_plotting` varchar(255) DEFAULT NULL,
  `postpartum_bp_plotting` varchar(255) DEFAULT NULL,
  `nakes_gives_vit_a` varchar(255) DEFAULT NULL,
  `vit_a_capsule_count` varchar(255) DEFAULT NULL,
  `consumes_vit_a_regularly` varchar(255) DEFAULT NULL,
  `is_breastfeeding` varchar(255) DEFAULT NULL,
  `postpartum_kb` varchar(255) DEFAULT NULL,
  `postpartum_counseling_topic` varchar(255) DEFAULT NULL,
  `postpartum_referral` text DEFAULT NULL,
  `height` decimal(5,2) NOT NULL,
  `measurement_method` enum('recumbent','standing') NOT NULL DEFAULT 'recumbent',
  `head_circumference` decimal(5,2) DEFAULT NULL,
  `upper_arm_circumference` decimal(5,2) DEFAULT NULL COMMENT 'Lingkar lengan atas dalam cm',
  `waist_circumference` decimal(5,2) DEFAULT NULL,
  `eye_test` varchar(255) DEFAULT NULL,
  `ear_test` varchar(255) DEFAULT NULL,
  `puma_screening` varchar(255) DEFAULT NULL,
  `tbc_screening_status` varchar(255) DEFAULT NULL,
  `mental_screening` varchar(255) DEFAULT NULL,
  `contraception` varchar(255) DEFAULT NULL,
  `family_disease_history` text DEFAULT NULL,
  `risk_behaviors` text DEFAULT NULL,
  `immunization` varchar(255) DEFAULT NULL,
  `vaccine_name` varchar(255) DEFAULT NULL,
  `vaccine_dose` int(11) DEFAULT NULL,
  `is_basic_immunization_complete` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Status Imunisasi Dasar Lengkap',
  `vitamin_a` tinyint(1) NOT NULL DEFAULT 0,
  `vitamin_a_color` enum('biru','merah','none') NOT NULL DEFAULT 'none',
  `deworming_medicine` tinyint(1) NOT NULL DEFAULT 0,
  `pill_fe` tinyint(1) NOT NULL DEFAULT 0,
  `is_exclusive_breastfeeding` tinyint(1) NOT NULL DEFAULT 0,
  `mp_asi` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Pemberian Makanan Pendamping ASI',
  `complaint` text NOT NULL,
  `diagnosis` text NOT NULL,
  `disease_history` text DEFAULT NULL,
  `health_note` text DEFAULT NULL,
  `nutrition_status` varchar(255) DEFAULT NULL,
  `systolic_bp` int(10) unsigned DEFAULT NULL,
  `diastolic_bp` int(10) unsigned DEFAULT NULL,
  `blood_sugar` int(10) unsigned DEFAULT NULL,
  `hemoglobin` decimal(5,2) DEFAULT NULL,
  `uric_acid` decimal(4,2) DEFAULT NULL,
  `cholesterol` int(10) unsigned DEFAULT NULL,
  `current_medication` text DEFAULT NULL,
  `stunting_status` varchar(100) DEFAULT NULL,
  `wasting_status` varchar(100) DEFAULT NULL,
  `z_score` decimal(5,2) DEFAULT NULL COMMENT 'Z-score BB/U WHO/Kemenkes',
  `z_score_hfa` decimal(5,2) DEFAULT NULL COMMENT 'Z-Score Height-for-Age (stunting)',
  `z_score_wfh` decimal(5,2) DEFAULT NULL COMMENT 'Z-Score Weight-for-Height (wasting)',
  `z_score_bfa` decimal(5,2) DEFAULT NULL COMMENT 'Z-Score BMI-for-Age (obesitas)',
  `nutrition_trend` enum('naik','turun','tetap') DEFAULT NULL COMMENT 'Tren vs bulan sebelumnya',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `medical_records_patient_id_foreign` (`patient_id`),
  KEY `medical_records_user_id_foreign` (`user_id`),
  KEY `medical_records_visit_date_index` (`visit_date`),
  CONSTRAINT `medical_records_patient_id_foreign` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `medical_records_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=421 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_records`
--

LOCK TABLES `medical_records` WRITE;
/*!40000 ALTER TABLE `medical_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned NOT NULL,
  `category` varchar(255) NOT NULL DEFAULT 'balita',
  `status_mutasi` varchar(255) NOT NULL DEFAULT 'aktif',
  `full_name` varchar(255) NOT NULL,
  `husband_name` varchar(255) DEFAULT NULL,
  `father_name` varchar(255) DEFAULT NULL,
  `mother_name` varchar(255) DEFAULT NULL,
  `head_of_family_name` varchar(255) DEFAULT NULL,
  `parent_name` varchar(255) DEFAULT NULL,
  `guardian_status` varchar(255) DEFAULT NULL COMMENT 'ibu kandung / wali',
  `education` varchar(255) DEFAULT NULL,
  `job` varchar(255) DEFAULT NULL,
  `number_of_children` int(11) NOT NULL DEFAULT 0,
  `is_pregnant` tinyint(1) NOT NULL DEFAULT 0,
  `living_status` varchar(255) DEFAULT NULL COMMENT 'sendiri / dengan keluarga',
  `independence_status` varchar(255) DEFAULT NULL COMMENT 'mandiri / butuh bantuan',
  `family_member_count` int(11) DEFAULT NULL,
  `house_condition` varchar(255) DEFAULT NULL,
  `water_access` varchar(255) DEFAULT NULL,
  `has_latrine` tinyint(1) NOT NULL DEFAULT 0,
  `economic_status` varchar(255) DEFAULT NULL,
  `mother_nik` varchar(16) DEFAULT NULL,
  `kia_book_ownership` tinyint(1) NOT NULL DEFAULT 0,
  `id_number` varchar(255) NOT NULL,
  `id_number_hash` varchar(255) DEFAULT NULL,
  `birth_date` date NOT NULL,
  `hpht` date DEFAULT NULL,
  `weight_at_birth` decimal(5,2) DEFAULT NULL,
  `height_at_birth` decimal(5,2) DEFAULT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `gender` char(255) NOT NULL,
  `address` text NOT NULL,
  `dusun_rt_rw` varchar(255) DEFAULT NULL,
  `desa_kelurahan` varchar(255) DEFAULT NULL,
  `kecamatan` varchar(255) DEFAULT NULL,
  `rt_domisili` varchar(10) DEFAULT NULL,
  `historical_diseases` text DEFAULT NULL,
  `phone_number` varchar(255) DEFAULT '',
  `profile_photo` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `patients_id_number_unique` (`id_number`),
  KEY `patients_id_number_hash_index` (`id_number_hash`),
  KEY `patients_category_index` (`category`),
  KEY `patients_posyandu_id_category_index` (`posyandu_id`,`category`),
  CONSTRAINT `patients_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedukuhans`
--

DROP TABLE IF EXISTS `pedukuhans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedukuhans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `postal_code` varchar(255) NOT NULL,
  `geo_location` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`geo_location`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedukuhans`
--

LOCK TABLES `pedukuhans` WRITE;
/*!40000 ALTER TABLE `pedukuhans` DISABLE KEYS */;
INSERT INTO `pedukuhans` VALUES (1,'Dukuh A','55281','{\"lat\":-7.123456,\"lng\":110.123456}','2026-06-30 04:29:57','2026-06-30 04:29:57'),(2,'Aren Jaya','17111','{\"lat\":-6.234567,\"lng\":107.012345}','2026-06-30 04:29:57','2026-06-30 04:29:57');
/*!40000 ALTER TABLE `pedukuhans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_unique` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posyandus`
--

DROP TABLE IF EXISTS `posyandus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posyandus` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pedukuhan_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `unique_code` varchar(255) NOT NULL,
  `logo_photo` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `posyandus_unique_code_unique` (`unique_code`),
  KEY `posyandus_pedukuhan_id_foreign` (`pedukuhan_id`),
  CONSTRAINT `posyandus_pedukuhan_id_foreign` FOREIGN KEY (`pedukuhan_id`) REFERENCES `pedukuhans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posyandus`
--

LOCK TABLES `posyandus` WRITE;
/*!40000 ALTER TABLE `posyandus` DISABLE KEYS */;
INSERT INTO `posyandus` VALUES (1,2,'KENANGA 1','Aren Jaya, RW 11, Bekasi Timur','PSY003',NULL,'2026-06-30 04:29:57','2026-06-30 04:29:57'),(2,2,'KENANGA 2','Aren Jaya, RW 12, Bekasi Timur','PSY002',NULL,'2026-06-30 04:29:57','2026-06-30 04:29:57');
/*!40000 ALTER TABLE `posyandus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_has_permissions` (
  `role_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `role_has_permissions_permission_id_foreign` (`permission_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `display_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_unique` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `location` text NOT NULL,
  `status` varchar(255) NOT NULL,
  `whatsapp_notif_sent_at` timestamp NULL DEFAULT NULL COMMENT 'Timestamp pengiriman notifikasi WA terakhir',
  `whatsapp_notif_count` smallint(5) unsigned NOT NULL DEFAULT 0 COMMENT 'Jumlah notifikasi WA yang berhasil terkirim',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `schedules_posyandu_id_foreign` (`posyandu_id`),
  KEY `schedules_user_id_foreign` (`user_id`),
  CONSTRAINT `schedules_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `schedules_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `posyandu_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `role` enum('superadmin','admin','kader') DEFAULT 'admin',
  `last_notifications_read_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `verified_email` tinyint(1) NOT NULL DEFAULT 0,
  `attempt_login` int(11) NOT NULL DEFAULT 0,
  `block_expires` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `cadre_role` varchar(255) DEFAULT NULL,
  `ttl` varchar(255) DEFAULT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `pendidikan` varchar(255) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `hp` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_username_unique` (`username`),
  KEY `users_posyandu_id_foreign` (`posyandu_id`),
  CONSTRAINT `users_posyandu_id_foreign` FOREIGN KEY (`posyandu_id`) REFERENCES `posyandus` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `who_bmi_for_age`
--

DROP TABLE IF EXISTS `who_bmi_for_age`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `who_bmi_for_age` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gender` enum('M','F') NOT NULL,
  `age_months` tinyint(3) unsigned NOT NULL COMMENT 'Usia dalam bulan (0-60)',
  `l_value` decimal(8,5) NOT NULL,
  `m_value` decimal(8,5) NOT NULL,
  `s_value` decimal(8,5) NOT NULL,
  `sd_minus3` decimal(5,2) NOT NULL,
  `sd_minus2` decimal(5,2) NOT NULL,
  `sd_plus1` decimal(5,2) NOT NULL,
  `sd_plus2` decimal(5,2) NOT NULL,
  `sd_plus3` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `who_bmi_for_age_gender_age_months_unique` (`gender`,`age_months`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `who_bmi_for_age`
--

LOCK TABLES `who_bmi_for_age` WRITE;
/*!40000 ALTER TABLE `who_bmi_for_age` DISABLE KEYS */;
/*!40000 ALTER TABLE `who_bmi_for_age` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `who_height_for_age`
--

DROP TABLE IF EXISTS `who_height_for_age`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `who_height_for_age` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gender` enum('M','F') NOT NULL COMMENT 'M=Laki-laki, F=Perempuan',
  `age_months` tinyint(3) unsigned NOT NULL COMMENT 'Usia dalam bulan (0-60)',
  `l_value` decimal(8,5) NOT NULL COMMENT 'L (Box-Cox power)',
  `m_value` decimal(8,5) NOT NULL COMMENT 'M (Median)',
  `s_value` decimal(8,5) NOT NULL COMMENT 'S (Coefficient of variation)',
  `sd_minus3` decimal(5,1) NOT NULL,
  `sd_minus2` decimal(5,1) NOT NULL,
  `sd_plus2` decimal(5,1) NOT NULL,
  `sd_plus3` decimal(5,1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `who_height_for_age_gender_age_months_unique` (`gender`,`age_months`)
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `who_height_for_age`
--

LOCK TABLES `who_height_for_age` WRITE;
/*!40000 ALTER TABLE `who_height_for_age` DISABLE KEYS */;
/*!40000 ALTER TABLE `who_height_for_age` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `who_weight_for_age`
--

DROP TABLE IF EXISTS `who_weight_for_age`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `who_weight_for_age` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gender` char(1) NOT NULL COMMENT 'M untuk laki-laki, F untuk perempuan',
  `age_months` tinyint(3) unsigned NOT NULL COMMENT 'Usia dalam bulan (0-59)',
  `sd_minus3` decimal(5,2) NOT NULL COMMENT 'Standar deviasi -3 (Gizi Buruk)',
  `sd_minus2` decimal(5,2) NOT NULL COMMENT 'Standar deviasi -2 (Gizi Kurang)',
  `median` decimal(5,2) NOT NULL COMMENT 'Median (Normal)',
  `sd_plus2` decimal(5,2) NOT NULL COMMENT 'Standar deviasi +2 (Gizi Lebih)',
  `sd_plus3` decimal(5,2) NOT NULL COMMENT 'Standar deviasi +3',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_gender_age` (`gender`,`age_months`)
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `who_weight_for_age`
--

LOCK TABLES `who_weight_for_age` WRITE;
/*!40000 ALTER TABLE `who_weight_for_age` DISABLE KEYS */;
/*!40000 ALTER TABLE `who_weight_for_age` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `who_weight_for_height`
--

DROP TABLE IF EXISTS `who_weight_for_height`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `who_weight_for_height` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gender` enum('M','F') NOT NULL,
  `height_cm` decimal(5,1) NOT NULL COMMENT 'Tinggi badan dalam cm (45.0ΓÇô120.0)',
  `l_value` decimal(8,5) NOT NULL,
  `m_value` decimal(8,5) NOT NULL,
  `s_value` decimal(8,5) NOT NULL,
  `sd_minus3` decimal(5,2) NOT NULL,
  `sd_minus2` decimal(5,2) NOT NULL,
  `sd_plus2` decimal(5,2) NOT NULL,
  `sd_plus3` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `who_weight_for_height_gender_height_cm_unique` (`gender`,`height_cm`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `who_weight_for_height`
--

LOCK TABLES `who_weight_for_height` WRITE;
/*!40000 ALTER TABLE `who_weight_for_height` DISABLE KEYS */;
/*!40000 ALTER TABLE `who_weight_for_height` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-30 17:54:45
